# 1. Ignore EVERYTHING by default
*

# 2. Exception: Unignore the .gitignore file itself
!.gitignore

# 3. Exception: Unignore ONLY Python files and bash scripts
!*.py
node_level_prediction_full.py
not_final_*.py
*.sh
!requirements.txt


# 4. Exception: Unignore prompt files, baseline input, 43 functional features file
!Input
!Input/*
!Input/functional_features_0803
!Input/functional_features_0803/*

# 5. Files for reproducibilty

!dataset_20260126_ecobase/
!dataset_20260126_ecobase/processed/
!dataset_20260126_ecobase/processed/*.scor
!dataset_20260126_ecobase/metadata_20260128.xlsx

!baseline/
!baseline/baseline_file_1.csv

!Ensembles/
!Ensembles/self_evaluated_soft_voting/
!Ensembles/self_evaluated_soft_voting/gen1_0603/
!Ensembles/self_evaluated_soft_voting/gen1_0603/consensus_results_gen1_0603.csv

!Ensembles/black_box_approach/
!Ensembles/black_box_approach/gen1_0603/
!Ensembles/black_box_approach/gen1_0603/arbitrated_taxonomy_all_models.xlsx

!Ensembles/cross_evaluated_soft_voting/
!Ensembles/cross_evaluated_soft_voting/gen1_0603/
!Ensembles/cross_evaluated_soft_voting/gen1_0603/best_scoring_*.csv

!LLM_worms_files/
!LLM_worms_files/processed_taxonomic_data_gen1_0603_*.csv

!LLM features/
!LLM features/Processed/
!LLM features/Processed/*/
!LLM features/Processed/*/gen1_0603/
!LLM features/Processed/*/gen1_0603/*
!LLM features/Processed/*/gen2_0703/
!LLM features/Processed/*/gen2_0703/*
!LLM features/Processed/*/gen3_0803/
!LLM features/Processed/*/gen3_0803/*

!LLM features/Processed/all_models/tax_level_1606_gen/ALL_MODELS_COMBINED.xlsx'

# 6. Figures

!Figures/
!Figures/gen1_0603/
!Figures/*
!Figures/gen1_0603/*