# 1. Ignore EVERYTHING by default
*

# 2. Exception: Unignore the .gitignore file itself
!.gitignore

# 3. Exception: Unignore ONLY Python files
!*.py
not_final_*.py

# 4. Exception: Unignore prompt file
!Input/prompt.txt